@model Personels.Models.Birim
@{
    ViewData["Title"] = "Birimi Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("BirimiGuncelle", "Birim", FormMethod.Post))
{
    <b>Departman ID</b>
    @Html.TextBoxFor(x=> x.BirimId, new {@class="form-control"})
    <br />
    <b>Departman Adı</b>
    @Html.TextBoxFor(x=> x.BirimAdı, new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Birimi Güncelle</button>

}

