@using Personels.Models
@model List<Birim>
@{
    ViewData["Title"] = "Birim Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group">
    <a href="/Birim/YeniBirim/" class="btn btn-primary">Yeni Birim Ekle</a>
</div>
<div class="form-group">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Birim Adı</th>
        <th scope="col">Sil</th>
        <th scope="col">Güncelle</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model)
   {
        <tr>
        <td scope="row">@x.BirimId</td>
        <td>@x.BirimAdı</td>
        <td ><a href="/Birim/BirimiSil/@x.BirimId" class="btn btn-danger">Sil</a></td>
        <td ><a href="/Birim/Birim/@x.BirimId" class="btn btn-success">Güncelle</a></td>
    </tr>
   }
   </tbody>
</table>
</div>

